@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.google.com/specimen/Roboto');
}

$darkGray: hsl(234, 29%, 20%);
$charcoalGray: hsl(235, 18%, 26%);
$gray: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$tomato: hsl(4, 100%, 67%);