@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.google.com/specimen/Roboto');
}

$darkGray: hsl(234, 29%, 20%);
$charcoalGray: hsl(235, 18%, 26%);
$gray: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$tomato: hsl(4, 100%, 67%);
$lightTomato: hsl(5, 63%, 93%);

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-size: 1.2vw;
}

h1 {
  font-size: 3vw;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    padding: 0;
  }

  div {
    display: flex;
    align-items: center;
  }

  img {
    width: 1.75vw;
    padding: 0;
    margin-block: 0.5vw;
  }
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-weight: 700;
}

.container {
  background-color: $charcoalGray;
  width: 100%;
  height: 100vh;
}

.main-content {
  display: flex;
  width: auto;
  height: auto;
  background-color: $white;
  border-radius: 2vw;
  text-align: left;
}

.text-content {
  width: 30vw;
  margin: 5vw 3vw;
}

#desktop {
  max-width: 27vw;
  height: auto;
  border-radius: 1vw;
  margin: 1.5vw;
}

.li-icon {
  margin-right: 1vw;
}

#success-icon {
  width: 5vw;
}

#dismiss-content {
  p {
    line-height: 2vw;
  }
}

button {
  width: 100%;
  height: 5vw;
  background-color: $darkGray;
  color: $white;
  border-style: none;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  font-weight: bold;
  margin-top: 1.5vw;

  &:hover {
    cursor: pointer;
    background-color: $tomato;
    box-shadow: 1px 10px 25px -5px $tomato;
    
  }
}

label {
  font-weight: bold;
  margin-block: 0.75vw;
}

input {
  border: 1px solid $tomato;
  border-radius: 0.5vw;
  padding: 1vw;
  background-color: $lightTomato;
  font-size: 1.2vw;

  &::placeholder {
    color: $tomato;
  }
}
@media (max-width: 800px) {
  .main-content {
    flex-direction: column;
    // height: 70vw;
    border-radius: 0;

    .text-content {
      order: 2;
    }
  }

  #mobile {
    order: 1;
    width: 36vw;
  }

  .container {
    background-color: $gray;
  }

  input {
    border: 1px solid $gray;
    background-color: $white;

    &::placeholder {
      color: $gray;
    }
  }

  #dismiss-content {
    button {
      margin-top: 25vw;
    }
  }
}
